- form_for(page) do |f|

  = f.error_messages

  %div.input
    = f.label :title
    = f.text_field :title, :class => "text"
  %div.input
    = f.label :tagline
    = f.text_area :tagline
  %div.input
    = f.label :body
    = f.text_area :body
  %div.input
    = f.label :position
    = f.text_field :position, :class => "text"
  %div.input
    = f.submit "Submit", :class => "submit"