%div.heading_with_menu
  %h3
    = page.title
    %span= "(#{page.position})"
  
  %ol
    %li.first= link_to 'Edit', edit_page_path(page)
    %li.last= link_to 'Delete', page, :confirm => 'Are you sure?', :method => :delete

%p
  %em= page.tagline
  = page.body