!!! XML
!!!
%html{ :'xml:lang' => "en", :lang => "en" }
  %head
    %title= page_title
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    = stylesheet_link_tag "application", :media => "screen"
    = javascript_include_tag %w(jquery-1.4.2.min jquery.swfobject.1-0-9.min application)

  %body
    #wrapper
      #content        

        %div.heading_with_menu.master
          %h1 Gray Whale Admin

          %ol
            %li.first= link_to 'List pages', pages_path
            %li.last= link_to 'New page', new_page_path
        
        = yield
